@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  background-image: url('./images/bg-desktop-dark.jpg') center fixed;
  background-size: cover;
}

.app-container-dark {
  background-color: hsl(235, 21%, 11%);
}

.app-container-light {
  background-color: hsl(0, 0%, 98%);
}

.todo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 8%;
  z-index: 1;
  margin: 0 auto;
}

.main-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.todo-button {
  width: 25px;
  height: 25px;
  margin: 0 25px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid hsl(233, 14%, 35%);
}

.todo-button:hover {
  background-image: linear-gradient(
    0deg,
    rgba(71, 218, 255, 1) 0%,
    rgba(192, 88, 243, 1) 100%
  );
  cursor: pointer;
}

.completed-task {
  background-image: linear-gradient(
    0deg,
    rgba(71, 218, 255, 1) 0%,
    rgba(192, 88, 243, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
}

.completed-task::after {
  content: '\2713';
  color: #fefefe;
  font-size: 1.2rem;
}

.completed-task + li {
  text-decoration: line-through;
}

.selected-filter {
  color: hsl(220, 98%, 61%);
}

.background-img {
  width: 100vw;
  position: absolute;
  z-index: 0;
}

@media only screen and (min-width: 1500px) {
  .todo-wrapper {
    margin-top: 10%;
  }
}

@media only screen and (max-width: 768px) {
  .background-img {
    width: 100vw;
    height: 400px;
  }

  .todo-button:hover {
    background-image: none;
    cursor: pointer;
  }
}

